.home-container {
    display: flex;
    min-height: 100vh;
}

.lateralNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.59);
}

.lateralNav ul {
    list-style: none;
    padding: 0%;
    margin: -10px;
    margin-top: 50px;
    width: 180px;
}

.lateralNav img {
    margin-top: 50px;
}

.lateralNav input {
    position: relative;
    margin: 10px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgba(240, 248, 255, 0.408);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.lateralNav input:hover {
    background-color: black;
    border: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 10px solid black;
}

h1 {
    font-size: 50px;
    margin: 10;
}

.content-area {
    flex: 1;
    left: 180px;
    top: 133px;
    right: 0;
    bottom: 0%;
    flex-direction: column;
}

.filtros {
    position: relative;
    top: 20px;
    text-align: center;
}

.filtros button {
    width: 100px;
    height: 30px;
    margin: 30px;
    margin-top: 0;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.605);
}

.filtros button:hover {
    background-color: white;
    width: 110px;
    height: 40px;
    margin-top: -10px;
}

.area-tareas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-top: -30px;
    margin-left: 80px;
    height: 84%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tarea-card {
    border: solid 2px, black;
    border-radius: 50px;
    width: 400px;
    height: 220px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.632);
}

.contenido-tarea {
    margin-left: 50px;
    margin-top: 20px;
    height: 120px;
}

.botones {
    position: absolute;
    height: 80px;
    width: 400px;
}

.tarea-eliminar {
    position: absolute;
    left: 50px;
    top: 40px;
    border-radius: 50px;
    height: 30px;
}

.tarea-completada {
    position: absolute;
    left: 150px;
    top: 40px;
    border-radius: 50px;
    height: 30px;
}

.tarea-editar {
    position: absolute;
    left: 280px;
    top: 40px;
    border-radius: 50px;
    height: 30px;
}


.tarea-eliminar:hover {
    background-color: rgba(0, 0, 0, 0.262);
}




.tarea-completada:hover {
    background-color: rgba(0, 0, 0, 0.262);
}




.tarea-editar:hover {
    background-color: rgba(0, 0, 0, 0.262);
}

.tarea-card-editar {
    position: fixed;
    border: solid 2px, black;
    border-radius: 50px;
    width: 600px;
    height: 420px;
    margin-left: 300px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.tarea-titulo-editar {
    text-align: center;
    margin-left: 70px;
    border-radius: 50px;
    height: 50px;
    width: 350px;
    background-color: rgb(233, 231, 231);
}

.tarea-descripcion-editar {
    margin-top: 50px;
    border-radius: 10px;
    height: 200px;
    width: 500px;
    background-color: rgb(233, 231, 231);
}

.botones-editar {
    position: relative;
    margin-top: 170px;
    height: 80px;
    width: 400px;
}