.lateralNav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 180px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.59);
}

.lateralNav ul{
    list-style: none;
    padding: 0%;
    margin: -10px;
    margin-top: 50px;
    width: 180px;
}

.lateralNav img {
    margin-top: 50px;
}

.lateralNav input{
    position: relative;
    margin: 10px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgba(240, 248, 255, 0.408);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.lateralNav input:hover {
    background-color: black;
    border: 0;
}

.title{
    position: absolute;
    left: 180px;
    right: 0%;
    top: 0%;
    
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 10px solid black;
}

h1 {
    font-size: 50px;
}

.content-area {
    position: absolute;
    left: 180px;
    top: 133px;
    right: 0;
    bottom: 0%;
}

.filtros{
    position: relative;
    top: 20px;
    text-align: center;
}

.filtros button{
    width: 100px;
    height: 30px;
    margin: 30px;
    margin-top: 0;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.605);
}

.filtros button:hover{
    background-color: white;
    width: 110px;
    height: 40px;
    margin-top: -10px;
}

.area-tareas {
    position: relative;
    margin-top: -30px;
    height: 84%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tarea1 {
    border: solid 2px, black;
    border-radius: 50px;
    width: 400px;
    height: 200px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.632);
}

.contenido-tarea {
    margin: 20px;
    margin-left: 50px;
    margin-top: 20px;
    height: 120px;
}

.tarea-eliminar {
    position: relative;
    margin-left: 50px;
    border-radius: 50px;
    height: 30px;
}

.tarea-eliminar:hover {
    background-color: rgba(0, 0, 0, 0.262);
}

.tarea-completada {
    position: relative;
    margin-left: 180px;
    border-radius: 50px;
    height: 30px;
}


.tarea-completada:hover {
    background-color: rgba(0, 0, 0, 0.262);
}





