.title{
    display: block;
    margin-top: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 10px solid black;
}

.btnEntrar{
    display: block;
    text-align: center;
    margin-top: 150px;
}

input{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgba(98, 28, 28, 0.56);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input:hover{
    background-color: white;;
}

h1 {
    font-size: 50px;
}