.home-container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.lateralNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.59);
}


.lateralNav ul {
    list-style: none;
    padding: 0%;
    margin: -10px;
    margin-top: 50px;
    width: 180px;
}

.lateralNav img {
    margin-top: 50px;
}

.lateralNav input {
    position: relative;
    margin: 10px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgba(240, 248, 255, 0.408);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.lateralNav input:hover {
    background-color: black;
    border: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 10px solid black;
}

h1 {
    font-size: 50px;
    margin: 10;
}

.content-area {
    height: 600px;
}

.create-area {
    background-color: rgba(255, 255, 255, 0.632);
    height: 500px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 50px;
    border: solid, black;
}

.text-area {
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.botones-area {
    height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.tarea-titulo {
    text-align: center;
    border-radius: 50px;
    border: 1px solid, black;
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-left: 200px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tarea-descripcion {
    border-radius: 10px;
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    height: 300px;
    width: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.guardar-btn {
    display: block;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    margin-left: 310px;
    margin-top: -10px;
}