html, body {
  background-image: url('/fond.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0px;
  min-height: 100vh;
}

footer {
  flex: 1;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}